modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]
run = "npm run start"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
