<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
  </head>
  <body>
    <h2>Admin Login</h2>
    <form action="/auth/admin-login" method="post">
      <div>
        <label for="admin_id">Admin ID:</label>
        <input type="text" id="admin_id" name="admin_id" required />
      </div>
      <div>
        <label for="admin_password">Password:</label>
        <input
          type="password"
          id="admin_password"
          name="admin_password"
          required
        />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>
